* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    line-height: 1.6;
    color: #333;
  }

  .top-bar {
    background: rgba(19, 124, 54, 0.37);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }

  .top-bar a {
    color: #fff;
    text-decoration: underline;
  }

  
  .hero {
    position: relative;
    background: url('/image/data=PiPbPSzD1L9YAJKrDd8bnzqYV_CsRsxEVkrKsoHZE3OuguTND7bpI9SLSs4-iCozW3GDlNPElHEIrdTStT-vjtO5JUTu7sgheQqGgdi0A4iemYVVGkhJABOt2tXXYhxpsCKtXGwE7zUCNVjKZ57aNgc19iY4y4W8UDPwGfR92o3IB32kqHXBcBQt2nUH_008y2Un4kzuq.png') no-repeat center center/cover;
    height: 500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
  }

  .testimonial {
    background: #00457c;
    color: white;
    padding: 30px 20px;
    font-style: italic;
  }

  .testimonial p {
    max-width: 600px;
    margin: 0 auto;
  }

  .testimonial cite {
    display: block;
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
  }


  .testimonial1 {
    background:green;
    color: white;
    padding: 30px 20px;
    font-style: italic;
    margin-top: 50px;
  }

  .testimonial1 p {
    max-width: 600px;
    margin: 0 auto;
  }

  
.footer {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: #ccc;
  text-decoration: none;
}
